<h1>Welcome to Unobtrusive JavaScript</h1>
<div id="flash_notice" class="alert alert-dismissible alert-success"></div>
<div id="flash_errors" class="alert alert-dismissible alert-danger"></div>

<div id="form"><%= render 'form' %></div>
<div id="items"><%= render 'items' %></div>
