<h1>Welcome to Unobtrusive JavaScript</h1>
<div id="flash_notice" class="alert alert-dismissible alert-success"></div>
<div id="flash_errors" class="alert alert-dismissible alert-danger"></div>

<div id="form"><%= render 'form' %></div>
<%= link_to 'New Item', new_item_path, class: 'btn btn-default', id: "new-button", remote: true %>
<div id="items"><%= render 'items' %></div>
